/* Animation santé basse */
.panic-mode {
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient(ellipse at center, transparent 65%, rgba(255, 0, 0, 0.5));

	transition: all 0.15s linear;
	animation: panic-mode 0.4s linear infinite;
}
@keyframes panic-mode {
    0% { background: radial-gradient(ellipse at center, transparent 65%, rgba(255, 0, 0, 0.5)); }
	25% { background: radial-gradient(ellipse at center, transparent 50%, rgba(255, 0, 0, 0.5)); }
	50% { background: radial-gradient(ellipse at center, transparent 65%, rgba(255, 0, 0, 0.5)); }
 }

 /* Animation de Level UP */
.player-level.level-up {
	transition: box-shadow ;
	animation: level-up 1s ease-in-out;
}
@keyframes level-up {
	0% { box-shadow: 0 0 1.5vh #d0ff7d; }
	50% { box-shadow: 0 0 1.5vh 1.5vh #d0ff7d; }
	100% { box-shadow: 0 0 1.5vh #d0ff7d; }
}

 /* Animations utilisables via AnimatedFrame, en utilisant la constante ANIMATIONS */
.animation-container { position: absolute; }

.pop-animation {
	position: relative;
	border-radius: 50%;
	background: radial-gradient(closest-side, rgba(0, 76, 142, 0.2) 40%, rgba(0, 76, 142, 0.5) 70%, rgba(0, 76, 142, .8) 90%, transparent 110%), 
				radial-gradient(closest-side, rgba(255, 168, 3, 0.2) 20%, rgba(255, 168, 3, 0.5) 55%, rgba(255, 168, 3, 0.8) 80%, transparent 100%);
	
	transition: all 0.15s linear;
	animation: pop-portal 1s linear infinite;
}
@keyframes pop-portal {
    0% { width: 0%; height: 0%; top: 50%; left: 50%; }
	7% { width: 10%; height: 10%; top: 45%; left: 45%; }
	14% { width: 40%; height: 40%; top: 30%; left: 30%; }
	21% { width: 120%; height: 120%; top: -10%; left: -10%; }
	85% { width: 120%; height: 120%; top: -10%; left: -10%; }
	100% { width: 0%; height: 0%; top: 50%; left: 50%; }
 }

.blood-splash {
	width: 10vh; 
	height: 4vh;
	transform-origin: 0 50%;
	clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
	animation: blood-splash 0.25s cubic-bezier(0.09, 0.36, 0.25, 1);
}
@keyframes blood-splash {
	0% {  background-image: radial-gradient(circle at left, rgba(255,0,0,0.8) 10%, transparent 20%); }
	10% { background-image: radial-gradient(circle at left, transparent 0%, rgba(255,0,0,0.8) 10%, rgba(255,0,0,0.8) 20%, transparent 30%); }
	20% { background-image: radial-gradient(circle at left, transparent 10%, rgba(255,0,0,0.8) 20%, rgba(255,0,0,0.8) 30%, transparent 40%); }
	30% { background-image: radial-gradient(circle at left, transparent 20%, rgba(255,0,0,0.8) 30%, rgba(255,0,0,0.8) 40%, transparent 50%); }
	40% { background-image: radial-gradient(circle at left, transparent 30%, rgba(255,0,0,0.8) 40%, rgba(255,0,0,0.8) 50%, transparent 60%); }
	50% { background-image: radial-gradient(circle at left, transparent 40%, rgba(255,0,0,0.8) 50%, rgba(255,0,0,0.8) 60%, transparent 70%); }
	60% { background-image: radial-gradient(circle at left, transparent 50%, rgba(255,0,0,0.8) 60%, rgba(255,0,0,0.8) 70%, transparent 80%); }
	70% { background-image: radial-gradient(circle at left, transparent 60%, rgba(255,0,0,0.8) 70%, rgba(255,0,0,0.8) 80%, transparent 90%); }
	80% { background-image: radial-gradient(circle at left, transparent 70%, rgba(255,0,0,0.8) 80%, rgba(255,0,0,0.8) 90%, transparent 100%); }
	90% { background-image: radial-gradient(circle at left, transparent 80%, rgba(255,0,0,0.8) 90%, rgba(255,0,0,0.8) 100%); }
	100% { background-image: radial-gradient(circle at left, transparent 90%, rgba(255,0,0,0.8) 100%); }
}
