/** Jauges et autres progress bars */
.gauge {
	display: flex;
	flex-direction: row;

	border: 0.5vh ridge #dbdbdb;
	padding: 0.2vh;
	z-index: 9;
}
.gauge .progress { height: 100%; }

.gauge.primary-reload {
	position: absolute;
	bottom: 6.45vh;
  	right: 1.8vh;
  	width: 7vh;
  	height: 0.7vh;
}
.gauge.primary-reload .progress { background: rgb(54, 181, 28); }

.gauge.secondary-reload {
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
  	width: 100%;
  	height: 1vh;
  	border: 0.1vh solid #9c9de8;
}
.gauge.secondary-reload .progress { background: rgb(235, 222, 43); }

.gauge.character-health-bar {
	position: absolute;
	bottom: 1vh;
	left: 6vh;
	width: 60vh;
  	height: 2vh;
	opacity: 0.75;
}
.gauge.character-health-bar .progress { background: rgb(255, 50, 50); }

.gauge.monster-health-bar {
	position: absolute;
	top: -2.5vh;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 1.2vh;
	border: 0.3vh ridge black;
	padding: 0;
}
.gauge.monster-health-bar .progress { background: rgb(255, 50, 50); }

.gauge.xp-bar {
	position: absolute;
	top: 1vh;
	left: 6vh;
	width: 60vh;
  	height: 2vh;
	opacity: 0.75;
}
.gauge.xp-bar .progress { background: rgb(93, 255, 0); }