/*** Le HUD n'est visible que sur appareils mobiles ***/
.hud {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	
	width: 100vw;
	height: 100vh;

	opacity: 0.7;
}
/*@media screen and (max-width:1024px) {*/
@media all and (display-mode: standalone) {
	.hud { z-index: 9; }
}

.hud .button {
	position: absolute;
	border-radius: 50%;
	background: radial-gradient(circle at center, white 10%, transparent);
	width: 15vh;
	height: 15vh;
	z-index: 9;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.hud .button img {
	height: 75%;
	width: 75%;
	opacity: 60%;
}

.hud .pause {
	height: 20vh;
	width: 20vh;
	top: 10vh;
	right: 3vh;

	color: rgba(0, 0, 0, 0.5);
	font-family: Impact;
	font-size: 10vh;
}

.hud .virtual-joystick {
	bottom: 11vh;
	left: 5vh;
	background: rgba(255, 255, 255, 0.6);
}
.hud .virtual-joystick .stick {
	border-radius: 50%;
	width: 12vh;
	height: 12vh;
	background: radial-gradient(circle at center, rgba(0,0,0,0.6) 40%, black 60%, transparent);
}

.hud .primary-fire {
	right: 5vh;
	bottom: 11vh;
}

.button.secondary-fire {
	right: 21vh;
	bottom: 19vh;
	height: 6vh;
	width: 6vh;
}

.button.reload {
	right: 21vh;
	bottom: 11vh;
	height: 6vh;
	width: 6vh;
}