/** Commun (surcharges et enrichissements du style de rs_dialog.css) */
input { cursor: pointer; }

.modal-button {
    width: 20vh;
    height: 5vh;
    
    border: none;
    border-radius: 1vh;
    background: linear-gradient(to bottom, #0084a2, #002933);
    box-shadow: 0 0 .5vh rgba(0 0 0 / 1);
    
    font-size: 2.5vh;
    color: white;
}
.modal-button:active { box-shadow: inset 0 0 0.5vh 0.1vh rgb(0, 0, 0); }
.modal-button:hover, .modal-button.active { 
    text-shadow: 0 0 0.7vh rgb(255, 255, 255);
    background: linear-gradient(to bottom, #2e98b0, #0c2d35); 
}

.modal-line {
    margin: 2vh;
    display: flex;
    justify-content: space-around;
}

/** UI configuration manette */
.control-item-container {
    display: flex;
    justify-content: space-between;
    margin: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
}

.control-name {
    font-size: 2.4vh;
    font-family: sans-serif;
    font-weight: bold;
    max-width: 35vh;
}

.button-mapped {
    font-size: 2.1vh;
    font-family: monospace;
    width: 28vh;
    cursor: pointer;
}

/** UI parmètres */
.pref-title { 
    width: 40%;
    font-size: 2.2vh; 
}
.pref-value { width: 40%; }
.pref-value.active { box-shadow: 0 0 2vh lime; }

#btn_gamepad_controls {
    width: 35vh;
}

/** UI rapport fin de vague */
#friend-face {
    max-height: 35vh;
    margin-top: 3vh;
}
#message {
    font-size: 3vh;
    font-weight: bold;
    margin: 2vh;
    margin-top: 0;
}