.character {
	position: absolute;
	height: 8.3vh; /* taille en px virtuels convertie en vh => taille_vh = 100 / (hauteur_jeu_px / taille_vaisseau_px)  */
	width: 8.3vh;
	z-index: 1;
}
.character .spinning-image {
    width: 100%;
	height: 100%;
	background: url("../images/character.png");
	background-size: contain;
	transform-origin: center; /* il va falloir faire pivoter le personnage quand on aura une image, autant qu'il pivote autour de son milieu plutôt qu'autour d'un coin */
}

.shot {
	background: #fd8700;
	box-shadow: 0 0 0.1vh 0.1vh black;
	position: absolute;
	border-radius: 50%;
	width: 0.8vh;
	height: 0.8vh;
}

.monster {
	position: absolute;
	height: 10vh; /* taille en px virtuels convertie en vh => taille_vh = 100 / (hauteur_jeu_px / taille_vaisseau_px)  */
	width: 10vh;
	z-index: 1
}
.monster .spinning-image {
	width: 100%;
	height: 100%;
	background: url("../images/zombie.png");
	background-size: contain;
	transform-origin: center; /* il va falloir faire pivoter le personnage quand on aura une image, autant qu'il pivote autour de son milieu plutôt qu'autour d'un coin */
}

.hitbox {
	position: absolute;
 	top: 0;
	background: radial-gradient(circle at center, white 3%, rgba(255,255,255,0.2) 10%, rgba(255,255,255,0.3) 80%);
	border-radius: 50%;
}

.blood-puddle {
	position: absolute;
	width: 4vh;
	height: 4vh;
	background-size: contain;
  	background-repeat: no-repeat;
	z-index: 0;
}


/** Animations */
.animation-container { position: absolute; }

.pop-animation {
	position: relative;
	border-radius: 50%;
	background: radial-gradient(closest-side, rgba(255, 103, 11, 0.2) 40%, rgba(255, 103, 11, 0.5) 70%, rgb(255, 103, 11) 90%, transparent 110%);
	
	transition: all 0.15s linear;
	animation: pop-portal 1s linear;
}
@keyframes pop-portal {
    0% { width: 10%; height: 10%; top: 45%; left: 45%; }
	15% { width: 20%; height: 20%; top: 40%; left: 40%; }
	30% { width: 40%; height: 40%; top: 30%; left: 30%; }
	45% { width: 120%; height: 120%; top: -10%; left: -10%; }
	85% { width: 120%; height: 120%; top: -10%; left: -10%; }
	100% { width: 0%; height: 0%; top: 50%; left: 50%; }
 }

.blood-splash {
	position: absolute;
	transform-origin: 0 50%;
	/*clip-path: polygon(0% 50%, 100% 100%, 100% 0%);*/
	clip-path: path("M 0 15 C 29 13 49 2 63 2 Q 78 11 66 23 C 48 29 24 23 0 15 Z");
	background-image: radial-gradient(circle at right, rgba(255,0,0,0.8) 30%,transparent 80%);

	transition: width background-image 0.25s linear;
	animation: blood-splash 0.5s linear infinite;
}
@keyframes blood-splash {
	0% { 
		width: 0; 
		height: 4vh; 
	}
	50% {
		width: 7vh; 
		height: 4vh; 
	}
	100% {
		width: 10vh; 
		height: 4vh;
	}
}

.shocked {
	transition: transform 0.5s linear;
	animation: shake 0.5s cubic-bezier(.11,1.05,.63,.98) infinite;
}
@keyframes shake {
	0% { transform: translateX(-0.1vh) rotate(29deg); }
	25% { transform: translateX(0.1vh) rotate(-139deg); }
	50% { transform: translateY(-0.1vh) rotate(173deg); }
	100% { transform: translateY(0.1vh) rotate(-52deg); }
}