.character {
	position: absolute;
	height: 8.3vh; /* taille en px virtuels convertie en vh => taille_vh = 100 / (hauteur_jeu_px / taille_vaisseau_px)  */
	width: 8.3vh;
}
.character .spinning-image {
    width: 100%;
	height: 100%;
	background: url("../images/character.png");
	background-size: contain;
	transform-origin: center; /* il va falloir faire pivoter le personnage quand on aura une image, autant qu'il pivote autour de son milieu plutôt qu'autour d'un coin */
}

.shot {
	background: #fd8700;
	box-shadow: 0 0 0.1vh 0.1vh black;
	position: absolute;
	border-radius: 50%;
	width: 0.8vh;
	height: 0.8vh;
}

.monster {
	position: absolute;
	height: 10vh; /* taille en px virtuels convertie en vh => taille_vh = 100 / (hauteur_jeu_px / taille_vaisseau_px)  */
	width: 10vh;
}
.monster .spinning-image {
	width: 100%;
	height: 100%;
	background: url("../images/zombie.png");
	background-size: contain;
	transform-origin: center; /* il va falloir faire pivoter le personnage quand on aura une image, autant qu'il pivote autour de son milieu plutôt qu'autour d'un coin */
}

.hitbox {
	position: absolute;
 	top: 0;
	background: radial-gradient(circle at center, white 3%, rgba(255,255,255,0.2) 10%, rgba(255,255,255,0.3) 80%);
	border-radius: 50%;
}

.animation-container { position: absolute; }
.pop-animation {
	position: relative;
	border-radius: 50%;
	background: radial-gradient(closest-side, rgba(255, 103, 11, 0.2) 40%, rgba(255, 103, 11, 0.5) 70%, rgb(255, 103, 11) 90%, transparent 110%);
	
	transition: all 0.15s linear;
	animation: pop-portal 1s linear;
}
/** Animation d'apparaition */
@keyframes pop-portal {
    0% { width: 10%; height: 10%; top: 45%; left: 45%; }
	15% { width: 20%; height: 20%; top: 40%; left: 40%; }
	30% { width: 40%; height: 40%; top: 30%; left: 30%; }
	45% { width: 120%; height: 120%; top: -10%; left: -10%; }
	85% { width: 120%; height: 120%; top: -10%; left: -10%; }
	100% { width: 0%; height: 0%; top: 50%; left: 50%; }
 }