.shop-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1vh;
}

.shop-area-button {
    width: 30vh;
    height: 5vh;
    border-radius: 2.5vh;
    background: rgba( 255, 255, 255, 0.4);
    cursor: pointer;

    font-size: 2.2vh;
    font-weight: bold;
    font-family: Monospace;
    color: #093246b2;
}
.shop-area-button.active {
    background: #a5c1d2;
    color: #093246;
    border-color: #1d96c6;
    box-shadow: 0 0 2vh #beccdd;
}

#items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.shop-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 0.5vh;
    padding: 1vh;
    
    width: calc(50% - 3vh);
    height: 15vh;
    border-radius: 15vh;

    background: linear-gradient(to bottom, #719097, #243c42);
    box-shadow: 0px 0px .5vh rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.shop-item:hover, .shop-item.active {
    background: linear-gradient(to bottom, #5dafc1, #15424d);
    text-shadow: 0.1vh 0.1vh 0.5vh black;
}
.shop-item:active { box-shadow: inset 0 .2vh 1vh black; }

.shop-item-name {
    font-size: 3.2vh;
    font-family: impact;
}

.shop-item-desc {
    font-family: sans-serif;
    font-size: 2vh;
    text-align: center;
    margin-bottom: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

.shop-item-price {
    font-family: monospace;
    font-size: 2.5vh;
}
.shop-item-price.too-expensive,
.shop-item-price.maxed { 
    font-weight: bold;
    text-shadow: none;
    
    color: transparent;
    background:  linear-gradient(to bottom, #4f0000, red);
    background-clip: text;
}

.shop-item-effet {
    margin-bottom: 0.5vh;
    font-size: 1.75vh;
    font-family: sans-serif;
}
.present-effect { color: #00c3ff; }
.increased-effect { color: lime; }

.player-goods-display {
    display: flex;

    width: 30vh;

    font-family: Monospace;
    font-size: 3.3vh;
    font-weight: bold;
}
.player-goods-display.money { flex-direction: row-reverse; }
.player-goods-display.knowledge { flex-direction: row; }

.swag {
	width: 4vh;
	height: 4vh;
    margin-left: 1vh;

    background: url('../images/money-bag.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.xp-scroll {
	width: 4vh;
	height: 4vh;
    margin-right: 1vh;

    background: url('../images/scroll.png');
	background-size: contain;
	background-repeat: no-repeat;
}