.shot {
	background: #fd8700;
	box-shadow: 0 0 0.1vh 0.1vh black;
	border: 0.1vh solid black;
	position: absolute;
	border-radius: 50%;
	width: 1vh;
	height: 1vh;
	z-index: 1;
}
.shot.monster { background: #41da1b; }