body {
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;

	-moz-user-select: none;		/* Firefox */
	-webkit-user-select: none;	/* Chrome, Safari, Opéra depuis la version 15 */
	-ms-user-select: none;		/* Internet explorer depuis la version 10 et Edge */
	user-select: none;			/* Propriété standard */
}

/** Fenêtre de jeu */
.game-window {
	width: 100vw;
	height: 100vh;
	border-radius: 3px;
	background-color: black;
	overflow: hidden;
}

.ammo-display {
	position: absolute;
	bottom: 0.5vh;
	right: 2vh;
	color: white;
	font-size: 5vh;
}

/** Jauges et autres progress bars */
.gauge {
	border: 0.5vh ridge #dbdbdb;
	padding: 0.2vh;
}
.gauge .progress { height: 100%; }

.gauge.primary-reload {
	position: absolute;
	bottom: 6.45vh;
  	right: 1.8vh;
  	width: 8.5vh;
  	height: 0.7vh;
}
.gauge.primary-reload .progress { background: rgb(54, 181, 28); }

.gauge.secondary-reload {
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
  	width: 100%;
  	height: 1vh;
  	border: 0.1vh solid #9c9de8;
}
.gauge.secondary-reload .progress { background: rgb(255, 217, 135); }

.gauge.character-health-bar {
	position: absolute;
	bottom: 1vh;
	left: 1vh;
	width: 40vh;
  	height: 3vh;
}
.gauge.character-health-bar .progress { background: rgb(255, 50, 50); }

/** Popup configuration manette */
 .control-item-container {
    display: flex;
    justify-content: space-between;
    margin: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
}

.control-name {
    font-size: 2.4vh;
    font-family: sans-serif;
    font-weight: bold;
    width: 15vh;
}

.button-mapped {
    font-size: 2.1vh;
    font-family: monospace;
    width: 28vh;
}

/** Popup parmètres */
.pref-title { width: 20%; }
.pref-value { width: 50%; }
