body {
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;

	-moz-user-select: none;		/* Firefox */
	-webkit-user-select: none;	/* Chrome, Safari, Opéra depuis la version 15 */
	-ms-user-select: none;		/* Internet explorer depuis la version 10 et Edge */
	user-select: none;			/* Propriété standard */
	touch-action: none; 		/* Devrait bloquer le scrolling par swipe de même que le refresh */
}

/** Fenêtre de jeu */
.game-window {
	width: 100vw;
	height: 100vh;
	border-radius: 3px;
	overflow: hidden;
	background: url('../images/soil_desert.png');
	background-size: 15vh;
	cursor: crosshair;
}

.ath-background {
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,.4) 6%, transparent 8%, transparent 92%, rgba(0,0,0,.4) 94%);
}

.ammo-display {
	position: absolute;
	bottom: 0.5vh;
	right: 2vh;
	color: white;
	font-size: 4.5vh;
	z-index: 9;
}
.ammo-display #current.out {
	color: rgb(255, 21, 21);
}

.bullets {
	position: absolute;
	bottom: 1vh;
	left: -4vh;
	width: 2vh;
	height: 3.5vh;
	background: url('../images/bullets.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.coeur {
	position: absolute;
	bottom: 1vh;
	left: 1vh;
	width: 3.5vh;
	height: 3.5vh;
	background: url('../images/coeur.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 9;
}

.health-display {
	position: absolute;
	bottom: 0.5vh;
	left: 69vh;
	color: white;
	font-size: 3.5vh;
	z-index: 9;
}

.wave-swag-container {
	position: absolute;
	top: 1vh;
	right: 2vh;
	display: flex;
	flex-direction: row;
	z-index: 9;
}
.money-bag {
	position: relative;
	top: 0.7vh;
	width: 4vh;
	height: 4vh;
	background: url('../images/money-bag.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#wave-swag {
	margin-left: 1.5vh;
	color: white;
	font-size: 4.5vh;
}

.player-level {
	position: absolute;
	top: 1vh;
	left: 1vh;
	height: 3.5vh;
	width: 3.5vh;
	border-radius: 50%;
	text-align: center;
	color: #1ca200;
	font-size: 3.05vh;
	background: radial-gradient(circle at center, #d0ff7d 39%, #047700);
	box-shadow: 0 0 1.5vh #d0ff7d;
	z-index: 9;
}

.wave-level {
	position: absolute;
	top: 60vh;
	width: 100%;
	padding-top: 3vh;
	padding-bottom: 3vh;
	
	text-align: center;
	font-size: 5vh;
	font-family: monospace;
	color: #044;
	
	background: linear-gradient(to bottom, transparent, white, transparent);
	transition: opacity 0.2s linear;
	opacity: 0;
}